
# Dependencies.
node_modules
build
stats.html

# IDEs and editors.
/.idea
.project
.classpath
.settings/
# 공통 VSCode 환경을 위해서 git로 관리
#.vscode/*
.nvmrc
.DS_Store

# 추가 작성중.
/frontend/**/node_modules
/frontend/**/dist
/frontend/package-lock.json