.main-container {
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.kaas-primary-color {
  background-color: #00517d;
  color: #ffffff !important;
}

.title {
  padding-bottom: 50px;
}

:global(.drak) {
  .kaas-primary-color {
    background-color: #0072b0;
  }
}
