.plugin-image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  filter: grayscale(1);

  &.cilium {
    $cilium-size: 80px;
    background-image: url('@resources/cni_cilium.svg');
    max-height: $cilium-size;
    min-height: $cilium-size;
    max-width: $cilium-size;
    min-width: $cilium-size;
  }

  &.canal {
    $canal-size: 50px;
    background-image: url('@resources/cni_canal.png');
    max-height: $canal-size;
    min-height: $canal-size;
    max-width: $canal-size;
    min-width: $canal-size;
  }
}

:global(.Mui-selected) .plugin-image {
  filter: none;
}
